extends ./tpl/layout

block pageVar
	-page = 'index'

block page
	section.section
		.container
			.page-list
				.text
					| Список страниц:
				ul
					li
						a(href="./components.html") Компоненты
					li
						a(href="./main.html") Главная
