*
	box-sizing border-box

html, body
	height 100%
	font-family $Roboto

.app
	min-height 100%
	display flex
	flex-direction column
	justify-content space-between

.main
	flex 1 0 auto

.container
	max-width 1440px
	padding 0 20px
	margin 0 auto

.block
	height 100%
	padding 10px
	color black
	background-color rgba(86,61,124,.15)
	border 1px solid rgba(86,61,124,.2)



