.component
	padding-bottom 30px
	margin-bottom 30px
	border-bottom 1px solid rgba(86,61,124,.2)

	&__title
		padding 20px 0
		font-weight bold
		font-size 20px
		text-align center

.block
	height 100%
	padding 10px
	color black
	background-color $lgray
	border 1px solid $gray

// параметры для абсолютных элементов в резине
$elemProps(params)
	width percentage(params.$width / params.$parentW)
	height percentage(params.$height / params.$parentH)

	if params.$top == ''
		top auto
	else
		top percentage(params.$top / params.$parentH)

	if params.$right == ''
		right auto
	else
		right percentage(params.$right / params.$parentW)

	if params.$bottom == ''
		bottom auto
	else
		bottom percentage(params.$bottom / params.$parentH)

	if params.$left == ''
		left auto
	else
		left percentage(params.$left / params.$parentW)

.coub
	$bg = $lgray
	$w = 1000px
	$h = 500px
	$coords = {
		$parentW: $w,
		$parentH: $h,
		$width: 100,
		$height: 100,
		$top: '',
		$right: '',
		$bottom: '',
		$left: ''
	}

	max-width 100%
	margin 0 auto

	&__inner
		position relative
		padding-bottom  percentage($h / $w)
		background-color $bg

	&__item
		position absolute

	&__item_brown
		$coords.$top = 100
		$coords.$left = 100
		$coords.$right = ''
		$coords.$bottom = ''
		$elemProps($coords)
		background-color $brown

		@media $md
			$coords.$top = 200
			$coords.$left = 200
			$coords.$right = ''
			$coords.$bottom = ''
			$elemProps($coords)

	&__item_black
		$coords.$top = ''
		$coords.$left = ''
		$coords.$right = 100
		$coords.$bottom = 100
		$elemProps($coords)
		background-color black

		@media $md
			$coords.$top = ''
			$coords.$left = ''
			$coords.$right = 200
			$coords.$bottom = 200
			$elemProps($coords)
