
// mixins
$width($col, $i)
	100% / $col * $i

.grid
	display flex
	flex-wrap wrap
	margin-right -10px
	margin-left -10px

	@media $sm
		margin: 0 -5px

.grid__col
	padding 0 10px
	@media $sm
		padding 0 5px

for $i in (1..12)
	.grid__col_{$i}
		flex 0 0 $width(12, $i)
		max-width $width(12, $i)

for $i in (1..11)
	.grid__pull_{$i}
		margin-left $width(12, $i)

for $i in (1..12)
	.grid__order_{$i}
		order $i

@media $md
	for $i in (1..12)
		.grid__md-col_{$i}
			flex 0 0 $width(12, $i)
			max-width $width(12, $i)
	for $i in (0..11)
		.grid__md-pull_{$i}
			margin-left $width(12, $i)
	for $i in (1..12)
		.grid__md-order_{$i}
			order $i

@media $sm
	for $i in (1..12)
		.grid__sm-col_{$i}
			flex 0 0 $width(12, $i)
			max-width $width(12, $i)
	for $i in (0..11)
		.grid__sm-pull_{$i}
			margin-left $width(12, $i)
	for $i in (1..12)
		.grid__sm-order_{$i}
			order $i
