// colors
$body = #ffffff;

//gradients
$g-yellow = linear-gradient(70.22deg, #EEB78B 18.62%, #D79D6F 66.52%);
$g-gray = linear-gradient(134.86deg, #C5B6AA 45.49%, #E4DCD5 85.27%);


// MEDIA
$xxl = 'max-width = 1400px';
$xl = 'max-width = 1200px';
$lg = 'max-width = 992px';
$md = 'max-width = 768px';
$sm = 'max-width = 576px',
