extends ./tpl/layout

block pageVar
	-page = 'breeding'

block page
	section.section
		.container
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, cumque esse. Ipsa libero ullam odit voluptatibus hic quidem corporis consequuntur eum, voluptate magnam, illum, fuga excepturi perferendis ratione nesciunt vel.
	section.section
		.container
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, cumque esse. Ipsa libero ullam odit voluptatibus hic quidem corporis consequuntur eum, voluptate magnam, illum, fuga excepturi perferendis ratione nesciunt vel.