extends ./tpl/layout

block pageVar
	-page = 'components'

block page
	.container
		.component
			.component__title Пример адаптивной сетки
			.grid
				-for (var i = 0; i < 4; i++)
					.grid__col.grid__col_3.grid__md-col_6.grid__sm-col_12
						.block
							p <b>dt: </b>.grid__col_3
							p <b>md: </b>.grid__md-col_6
							p <b>sm: </b>.grid__sm-col_12

		.component
			.component__title Пример адаптивной сетки с пуллом
			.grid
				.grid__col.grid__col_8.grid__pull_2.grid__md-col_6.grid__md-pull_3.grid__sm-col_10.grid__sm-pull_1
					.block
						p <b>dt: </b>.grid__col_8.grid__pull_2
						p <b>md: </b>.grid__md-col_6.grid__md-pull_3
						p <b>sm: </b>.grid__sm-col_10.grid__sm-pull_1

		.component
			.component__title Пример адаптивной сетки с ордером
			.grid
				.grid__col.grid__col_4.grid__order_2.grid__md-order_3.grid__sm-col_12.grid__sm-order_1
					.block
						b Col №1
						p <b>dt: </b>.grid__col_4.grid__order_2
						p <b>md: </b>.grid__md-order_3
						p <b>sm: </b>.grid__sm-col_12.grid__sm-order_1
				.grid__col.grid__col_4.grid__order_3.grid__md-order_1.grid__sm-col_12.grid__sm-order_1
					.block
						b Col №2
						p <b>dt: </b>.grid__col_4.grid__order_3
						p <b>md: </b>.grid__md-order_1
						p <b>sm: </b>.grid__sm-col_12.grid__sm-order_1
				.grid__col.grid__col_4.grid__order_1.grid__md-order_2.grid__sm-col_12.grid__sm-order_1
					.block
						b Col №3
						p <b>dt: </b>.grid__col_4.grid__order_1
						p <b>md: </b>.grid__md-order_2
						p <b>sm: </b>.grid__sm-col_12.grid__sm-order_1

		.component
			.coub
				.coub__inner
					.coub__item.coub__item_red
					.coub__item.coub__item_black
